<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="Core/Settings/iBatis/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="OleDb2.0"/>
    <dataSource name="TIBEROConfig" connectionString="Provider=tbprov.Tbprov.6;
                                                      Data Source=${tiberoIP},${tiberoPort},${tiberoService};
                                                      user id=${tiberoID};
                                                      password=${tiberoPWD};
                                                      Connection Pooling = 1;
                                                      Cache Authentication=False;"/>
  </database>

  <sqlMaps>
    <!--MainMap-->
    <sqlMap resource="Main/Dao/Maps/MainMap.xml"/>
    
    <sqlMap resource="Adm/Dao/Maps/AdmMap.xml"/>
    <sqlMap resource="Cmm/Dao/Maps/CmmMap.xml"/>
    <sqlMap resource="Pipe/Dao/Maps/PipeMap.xml"/>

  </sqlMaps>

</sqlMapConfig>