<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTIFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <GTIFramework.Properties.Settings>
      <setting name="strIP" serializeAs="String">
        <value>211.105.28.40</value>
      </setting>
      <setting name="strPort" serializeAs="String">
        <value>8629</value>
      </setting>
      <setting name="strID" serializeAs="String">
        <value>infofms</value>
      </setting>
      <setting name="strPWD" serializeAs="String">
        <value>infofms</value>
      </setting>
      <setting name="strSID" serializeAs="String">
        <value>tibero</value>
      </setting>
      <setting name="RES_DB_INS_DEFAULT" serializeAs="String">
        <value>TIBEROConfig</value>
      </setting>
    </GTIFramework.Properties.Settings>
  </userSettings>
 
</configuration>